.availability-module {
    height: calc(100vh - 95px);
    padding: 10vh 0;
    position: relative;
    text-align: center;
    background: #fff;
    overflow: hidden;
    .section-title {
        margin-bottom: 10vh;
        z-index: 1;
    }
    #map {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    @media screen and (min-width: $desktop-min-breakpoint){
        padding: 0;
        .section-title {
            position: absolute;
            left: 10%;
            top: 20%;
        }
        img {
            max-height: 15vh;
            display: inline-block;
            margin: 0 auto 5vh auto;
        }

    }
    .area-resume {
        position: relative;
        padding: 1em;
        &__name {
            margin: 0.25em 0;
            padding: 0;
            font-size: 2em;
            line-height: 100%;
            color: $primary-color;
        }
        &__details {
            list-style: none;
            margin: 1em 0;
            padding: 0;
            font-size: 80%;
    
        }
        &__label {
            width: 58%;
            display: inline-block;
            color: $secondary-color;
        }
        &__value {
            width: 39%;
            display: inline-block;
            color: $primary-color;
            font-family: 'PT Sans', sans-serif;
        }
        &__price {
            margin-bottom: 1em;
        }
        &__price-label {
            width: 100%;
            display: block;
            color: $secondary-color;
        }
        &__price-value {
            width: 100%;
            display: block;
            color: $primary-color;
            font-size: 125%;
            font-family: 'PT Sans', sans-serif;
        }
        &__require {
            display: none;
            input {
                width: 100%;
                display: block;
                border: none;
                padding: 0.5em;
                text-align: center;
                border-radius: 0;
                outline: none;
                &.has-error {
                    border: 1px solid $secondary-color;
                    & ~ .error-legend{
                        display: block;
                    }
                }
            }
            small {
                margin: 2em 0;
                display: block;
                font-size: 55%;
                line-height: 100%;
                font-style: italic;
    
                &.error-legend {
                    display: none;
                    margin: 1em 0;
                }
                
                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
        &__button {
            width: 100%;
            display: block;
            padding: 0.3em;
            margin-bottom: 0.5em;
            text-align: center;
            color: #fff;
            background: $secondary-color;
            border: none;
            border-radius: 0;
            &__info{
                background: $primary-color;
            }
        }
    }
    .modal {
        display: none;
        position: fixed;
        .modal-content {
            height: 100vh;
            overflow: auto;
            padding: 15vh 0;
    
            .lg-alt {
                margin-bottom: 5vh;
            }
        }
        .btn-close {
            position: absolute;
            right: 5vw;
            top: 10vh;
            border: none;
            @media(max-width: $mobile-breakpoint){
                top: 16vh;
                z-index: 1;
            }
        }
    }
    .map {
        width: 100%;
        height: 100vh;
        @media(max-width: $mobile-breakpoint){
            height: 80vh;
        }
    
        .ol-control{
            display: none;
            top: 10vh;
            left: auto;
            right: 15vw;
    
            &.ol-zoom{
                top: auto;
                bottom: 20vh;
                border-radius: 0;
                background: rgba(255,255,255,0.9);
                
                .ol-zoom-in,
                .ol-zoom-out{
                    width: 2.5rem;
                    height: 3.5rem;
                    margin: 0 auto;
                    font-size: 0px;
                    background: url('../images/simulator/ico-zoom-in.svg') no-repeat center center;
                    background-size: 70%;
                    outline: none;
                    transition: .3s all ease-in-out;
                    &:hover {
                        background-color: #fff;
                    }
                }
                .ol-zoom-out{
                    background-image: url('../images/simulator/ico-zoom-out.svg');
                }
    
                @media(max-width: $mobile-breakpoint){
                    display: none;
                }
            }
            &.ol-rotate{
                margin-right: 1rem;
                opacity: 1 !important;
                visibility: visible !important;
                background: rgba(255,255,255,0);
                transition: .3s all ease-in-out;
                .ol-rotate-reset{
                    width: auto;
                    height: auto;
                    outline: none;
                    background: none;
                    border: none;
                    .ol-compass{
                        width: 3rem;
                        height: 3rem;
                        display: inline-block;
                        font-size: 0px;
                        background: url('../images/simulator/ico-north.svg') no-repeat center center;
                        background-size: contain;
                    }
                }
            }
        }
    }
    .notations {
        width: 80%;
        position: absolute;
        left: 10vw;
        bottom: 12em;
        padding: 0.5em 0;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 90%;
        background: $primary-color;
        z-index: 1;
    
        &__title {
            margin-bottom: 0rem;
        }

        &__legend {
            width: 30%;
            font-size: 2em;
            font-weight: 600;
            text-transform: uppercase;
            color: $secondary-color;
        }
    
        &__list {
            margin: 0 0 0;
            padding: 0;
            list-style: none;
        }
    
        .notation {
            display: inline-block;
            margin: 0 1rem;
            &__label {
                color: #fff;
                text-transform: uppercase;
            }
            &__color {
                width: 1rem;
                height: 1rem;
                margin-right: 0.5em;
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
    
                &__available {
                    background: $color-available;
                }
                &__sold {
                    background: $color-sold;
                }
                &__reserved {
                    background: $color-reserved;
                }
                &__unavailable {
                    background: $color-unavailable;
                }
            }
        }
    
        @media(max-width: $mobile-breakpoint){
            width: 90vw;
            left: 5vw;
            top: auto;
            bottom: 7em;
            padding: 0 10px;
            font-size: 80%;
            text-align: center;
    
            &__title {
                margin-bottom: 0;
                img {
                    width: auto;
                    max-height: 2rem;
                }
            }
    
            &__legend {
                display: none;
            }
    
            &__list {
                margin-top: 0;
            }
    
            .notation {
                width: auto;
                margin: 3px 5px 3px 10px;
                display: inline-block;
    
                &__label {
                    font-size: 0.7rem;
                }
                &__color {
                    width: 0.7rem;
                    height: 0.7rem;
                    margin-top: 0.3rem;
                    margin-left: 0.5rem;
                    display: inline-block;
                }
            }
        }
    }
    .popup {
        display: none;
        width: 250px;
        position: absolute;
        margin-top: -75px;
        margin-left: 30px;
        color: #fff;
        background: $primary-color;
        z-index: 1;
        &:before{
            width: 0;
            height: 0;
            content: '';
            display: block;
            position: absolute;
            left: -30px;
            top: 60px;
            border: 15px solid transparent;
            border-right-color: $primary-color;
        }
        .area-resume__name,
        .area-resume__label,
        .area-resume__value {
            color: #fff;
        }
    }
    .svg-layer path:hover {
        opacity: 0.4;
    }
    .tbl-billing-wp{
        width: 100%;
        overflow-x: auto;
        font-family: 'PT Sans', sans-serif;
    }
    .table {
        width: 100%;
        font-size: 80%;
        th {
            text-align: center;
            vertical-align: text-top;
            color: #fff;
            background-color: $primary-color;
            border: 2px solid #ccc;
            border-top: none;
        }
        tbody {
            tr td {
                border: 2px solid #ddd;
    
                &:first-child {
                    width: 100px;
                    color: $primary-color;
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
    }
}
.btn-primary {
    padding: 0.2em 2em;
    color: #fff;
    background: $primary-color;
    border: none;
    border-radius: 0;
    &:hover {
        background: darken($primary-color,10%);
    }
}
.btn-secondary {
    padding: 0.2em 2em;
    color: #fff;
    background: $secondary-color;
    border: none;
    border-radius: 0;
    &:hover {
        background: darken($secondary-color,10%);
    }
}
.frame {
    position: relative;
    &:before,
    &:after {
        width: 100%;
        height: 0;
        padding-bottom: 3.5%;
        position: absolute;
        left: 0;
        content: '';
        background: url('../images/bg-pleca2.svg') no-repeat center top transparent;
        background-size: cover;
        z-index: 1;
    }
    &:before {
        top: 0;
        background-position: center bottom;
    }
    &:after {
        bottom: 0;
    }
    &--bottom {
        &:after {
            display: block;
            background-image: url('../images/bg-pleca2.svg');
        }
        &--primary {
            &:after {
                background-image: url('../images/bg-pleca5.svg');
            }
        }
    }
    &--top {
        &:before {
            display: block;
            background-image: url('../images/bg-pleca1.svg');
        }
    }
}
.icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: no-repeat center center;
    background-size: contain;
    &.icon-play {
        background-image: url(../images/ico-play.svg)
    }

    &.icon-comercial {
        background-image: url(../images/ico-comercial.svg)
    }
    &.icon-controlado {
        background-image: url(../images/ico-controlado.svg)
    }
    &.icon-perimetral {
        background-image: url(../images/ico-perimetral.svg)
    }
    &.icon-verdes {
        background-image: url(../images/ico-verdes.svg)
    }
    &.icon-vialidades {
        background-image: url(../images/ico-vialidades.svg)
    }
    &.icon-vigilancia {
        background-image: url(../images/ico-vigilancia.svg)
    }
    
    &.icon-golf {
        background-image: url(../images/ico-golf.svg)
    }
    &.icon-alberca {
        background-image: url(../images/ico-alberca.svg)
    }
    &.icon-gym {
        background-image: url(../images/ico-gym.svg)
    }
    &.icon-tenis {
        background-image: url(../images/ico-tenis.svg)
    }
    &.icon-padel {
        background-image: url(../images/ico-padel.svg)
    }
    &.icon-futbol {
        background-image: url(../images/ico-futbol.svg)
    }
    &.icon-club {
        background-image: url(../images/ico-club.svg)
    }
    &.icon-verdes2 {
        background-image: url(../images/ico-verdes2.svg)
    }
    &.icon-restaurante {
        background-image: url(../images/ico-restaurante.svg)
    }

    &.icon-facebook {
        background-image: url(../images/ico-facebook.svg)
    }
    &.icon-instagram {
        background-image: url(../images/ico-instagram.svg)
    }
    &.icon-youtube {
        background-image: url(../images/ico-youtube.svg)
    }
}
.modal {
    .modal-dialog {
        max-width: 1200px;
    }
    .modal-content {
        padding: 3em 10px;
        background: $primary-color;
        color: #fff;
        border-radius: 0;
        &--transparent {
            border: none;
            background: transparent;
        }
        .btn-close-modal {
            position: absolute;
            right: 1em;
            top: 1em;
            background: none;
            font-size: 75%;
            color: #fff;
            border: none;
            span {
                width: 1.25em;
                height: 1.25em;
                padding-bottom: 100%;
                display: block;
                position: relative;
                &:before,
                &:after {
                    width: 1px;
                    height: 1.25em;
                    content: '';
                    left: 0;
                    top: 0;
                    position: absolute;
                    left: calc(50% - 0.5px);
                    top: 0;
                    display: block;
                    background: #fff;
                    transform: rotate(-45deg);
                }
                &:after {
                    transform: rotate(45deg);
                }
            }
        }
        .modal-contact {
            &--title {
                font-size: 2em;
                letter-spacing: 0;
                font-style: italic;
                font-weight: bold;
                text-align: center;
                &:after {
                    width: 100px;
                    height: 6px;
                    display: block;
                    content: '';
                    margin: 0.5em auto;
                    background: $secondary-color;
                }
            }
            &--label {
                display: block;
                text-align: center;
                color: $secondary-color;
                font-style: italic;
            }
            &--fields {
                display: block;
                padding: 2em;
                .form-group {
                    position: relative;
                    margin-bottom: 1em;
                    label {
                        position: absolute;
                        left: 0.75em;
                        top: 0.5em;
                        font-style: italic;
                        font-size: 0.75em;
                        color: $primary-color;
                    }
                    input,
                    textarea {
                        padding: 1.25em 0.5em 0.5em 0.75em;
                        border: none;
                        border-radius: 0;
                        color: #fff;
                        background: rgba(255,255,255,0.45)
                    }
                }
                .actions {
                    padding-top: 2em;
                    .col-md-6 {
                        &:nth-child(2){
                            text-align: right;
                            button {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
        @media screen and (min-width: 768px){
            padding: 3em 5em;
        }
    }
}
.text-highlight-primary {
    color: $secondary-color;
}
.section-title {
    margin-bottom: 0.5em;
    position: relative;
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
    &:after {
        width: 200px;
        height: 7px;
        content: '';
        display: block;
        margin-top: 0.35em;
        background: $secondary-color;
    }
    &.inverted {
        color: #fff;
        font-weight: 300;
    }
    &.centered {
        text-align: center;
        margin-bottom: 1em;
        &:after {
            position: absolute;
            left: 50%;
            margin-left: -100px;
            bottom: -0.5em;
        }
    }
}
.slider {
    background: #222;
    .carousel-caption {
        width: 460px;
        margin: 0 auto;
        font-size: 2.5em;
        font-style: italic;
        font-weight: 700;
    }
    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        opacity: 1;
        &.active {
            background-color: $primary-color;
        }
    }
    .carousel-indicators {
        bottom: 10vh;
    }
    .carousel-caption {
        bottom: calc(10vh + 1em);
    }
    @media screen and (max-width: 767px){
        .carousel-indicators {
            bottom: 10px;
        }
    }
}
.video-cover {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: no-repeat center center;
    background-size: cover;
    &--video {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
    }
    &--button {
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        bottom: 25%;
        margin-left: -40px;
        margin-bottom: -40px;
        padding: 0;
        background: none;
        border: none;
        .icon {
            width: 80px;
            height: 80px;
        }
    }
}

.appointment-form {
    width: 25%;
    max-width: 300px;
    margin: 0 auto;
    padding: 15vh 0;
    text-align: center;

    &__title {
        margin-bottom: 2rem;
    }
    p {
        font-size: 0.8rem;
        font-weight: 500;
        margin: 0 auto;
    }
    h2 {
        color: $secondary-color;
        margin: 0.3rem auto;
    }
    .form-group {
        position: relative;
        margin-bottom: 1em;
        label {
            position: absolute;
            left: 0.75em;
            top: 0.5em;
            font-style: italic;
            font-size: 0.75em;
            color: $primary-color;
        }
        input,
        textarea {
            padding: 1.25em 0.5em 0.5em 0.75em;
            border: none;
            border-radius: 0;
            color: #fff;
            background: rgba(255,255,255,0.45)
        }
    }
    ::-webkit-input-placeholder {
        color: #444;
        font-size: 80%;
    }
    ::-moz-placeholder {
        color: #444;
        font-size: 80%;
    }
    :-ms-input-placeholder {
        color: #444;
        font-size: 80%;
    }
    :-moz-placeholder {
        color: #444;
        font-size: 80%;
    }
    .btn-primary {
        margin-top: 1rem;
        padding: 0.1rem 1rem;
        background: $secondary-color;
        border: none;
        border-radius: 0;
    }

    @media(max-width: $mobile-breakpoint){
        width: 80%;
        max-width: auto;
    }
}
.appointment-response{
    display: none;
    padding: 25vh 0;
    text-align: center;
    h2 {
        font-size: 3rem;
        font-weight: 600;
        color: $secondary-color;
        padding-bottom: 1rem;
        small {
            font-size: 1.5rem;
            font-weight: 600;
            color: #333;
            display: block;
        }
    }
    p{
        font-size: 0.8rem;
    }
}