/**
*
*   Fonts file
*/

/**
* Imports
**/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,100;1,400;1,700;1,900&display=swap');

/**
* Variables
*/

$font-general : "Lato", sans-serif;

.font-general, %font-regular {
    font-family: "Lato", sans-serif; 
}
.font-styled, %font-styled {
    font-family: "Lato", serif;
}
.font-titles, %font-titles {
    font-family: "Lato", serif;
}
.font-titles-label, %font-titles-label {
    font-family: "Lato", sans-serif; 
}


/**
* Baskerville
*

@font-face {
    font-family: 'baskervvilleitalic';
    src: url('../fonts/baskervville/baskervville-italic-webfont.woff2') format('woff2'),
         url('../fonts/baskervville/baskervville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/