$desktop-breakpoint: 768px;

:root {
    --bs-primary: $primary-color;
    --bs-secondary: $secondary-color;
}
body {
    color: $primary-color;
    font-family: $font-general;
    font-size: 18px;
    padding-top: 95px;
}
footer {
    position: relative;
    padding: 5em 0;
    color: #fff;
    z-index: 11;
    &.fixed {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 4em 0 1em; 
        .col-md-8 {
            padding-top: .5em;
        }
        @media screen and (max-width: 991px){
            text-align: center;
            font-size: .6rem;
            padding: 0 0 1em;
            .col-md-8 {
                padding-top: 2em;
                margin-bottom: 0.5em;
            }
            .navbar-brand img {
                max-height: 1em;
                @media screen and (max-width: 991px){
                    margin: 1.5em 0 0;
                }
            }
        }
    }
    &:before {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        content: '';
        background: url('../images/bg-pleca5.svg') no-repeat center top;
        background-size: cover;
    }
    > div {
        position: relative;
        z-index: 1;
    }
    .navbar-brand img {
        max-height: 2em;
        @media screen and (max-width: 991px){
            margin: 1.5em 0;
        }
    }
    .privacy-link {
        color: inherit;
        text-decoration: none;
        display: inline-block;      
    }
    @media screen and (max-width: 991px){
        .row {
            flex-direction: column-reverse;
        }
    }
}
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 3em;
    z-index: 11;
    &:before {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        content: '';
        background: url('../images/bg-pleca1.svg') no-repeat center bottom;
        background-size: cover;
    }
    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .container {
        position: relative;
        background: none;
        z-index: 1;
        .navbar-brand {
        }
        .logo {
            width: 200px;
            margin-top: 1.25em;
        }
        nav {
            li {
                a {
                    font-size: 0.8em;
                    padding: 2em 2em !important;
                    display: block;
                    b {
                        font-weight: 800;
                        font-style: italic;
                    }
                }
                .nav-link {
                    color: $primary-color !important;
                }
            }
        }
    }
    @media screen and (max-width: 991px){
        padding-bottom: 0;
        background: #fff;
        &:before {
            top: 100%;
            height: 1.5em;
        }
        .navbar-collapse {
            min-height: calc(100vh - 10em);
        }
    }
    @media screen and (min-width: $desktop-breakpoint){
        .container {
            .navbar-collapse {
                justify-content: flex-end;
            }
        }
    }
}
.home-cover {
    min-height: calc(100vh - 70px);
    position: relative;
    background: $primary-color;
    &:before {
        width: 100%;
        height: 4em;
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        content: '';
        background: url('../images/bg-pleca2.svg') no-repeat center top;
        background-size: cover;
        z-index: 1;
    }
    .caption {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 15vh;
        color: #fff;
        line-height: 100%;
        font-size: 2.5em;
        font-style: italic;
        font-weight: bold;
        a {
            margin-top: 1.5em;
            font-style: normal;
            font-weight: 400;
        }
    }
}
.intro {
    padding-top: 5em;
    > .container {
        padding-bottom: 5em;
    }
    .col-md-6:first-child {
        padding-right: 5%;
    }
    .intro-video {
        position: relative;
        &:before {
            width: 100%;
            height: 0;
            content: '';
            padding-bottom: 55%;
            display: block;
        }
    }
    .video-cover {
        border: 10px solid $secondary-color;
    }
    .intro-slider {
        margin-top: 10em;
        padding-bottom: 5em;
    }
    @media screen and (max-width: 767px){
        padding-top: 2em;
        > .container {
            padding-bottom: 2em;
        }
        .intro-video {
            margin-bottom: 40px;
        }
        .section-title {
            text-align: center;
            &:after {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
.servicios {
    ul {
        margin: 4em auto 6em;
        padding: 0;
        text-align: center;
        li {
            list-style: none;
            margin: 20px 0;
            .icon {
                width: 80px;
                height: 80px;
                display: inline-block;
            }
        }
    }
    .mosaic {
        padding-top: 1rem;
        padding-bottom: 1rem;
        .col-md-8,
        .col-md-4 {
            --bs-gutter-x: 1rem;
        }
        .row {
            --bs-gutter-x: 1rem;
        }
        .row .row {
            margin-top: 1rem;
        }
        .mosaic-item {
            width: 100%;
            height: 20rem;
            background: no-repeat center center;
            background-size: cover;
        }
        .col-md-4 {
            .mosaic-item {
                height: 41rem;
            }
        }
        @media screen and (max-width: 767px){
            .col-md-6:last-child {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}
.disponibilidad {
    padding: 7.5em 0;
    .disponibilidad-separator {
        width: 100%;
        padding: 10em 20px;
        text-align: center;
        margin-top: 6em;
        display: block;
        background: url(../images/bg-master-intro.jpg) no-repeat center center #000;
        background-size: cover;
        img {
            max-height: 7em;
        }
    }
    @media screen and (max-width: 767px){
        padding: 2em 0;
    }
}
.club {
    position: relative;
    padding-top: 5em;
    .club-head {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 6em 0;
        text-align: center;
        color: #fff;
        background: url(../images/bg-pleca4.svg) no-repeat center bottom transparent;
        background-size: cover;
        z-index: 10;
        .section-title-alt {
            color: #fff;
            display: inline-block;
            vertical-align: middle;
            font-size: 4em;
            font-weight: 800;
            font-style: italic;
            span {
                color: $secondary-color;
            }
        }
        button {
            display: inline-block;
            vertical-align: middle;
            margin-left: 6em;
        }
    }
    @media screen and (max-width: 767px){
        .club-head {
            padding: 2em 0;
            .section-title-alt {
                font-size: 2rem;
                margin-bottom: 0;
            }
            button {
                margin-left: 25px;
            }
        }
        .slider .carousel-indicators {
            bottom: 10px;
        }
    }
}
.amenidades {
    padding: 5em 0;
    background: $primary-color;
    color: $secondary-color;
    p:nth-child(3) {
        font-style: italic;
        font-size: 1.25em;
    }
    .col-4{
        color: #fff;
    }
    .list {
        text-align: center;
        color: #fff;
        font-weight: 400;
        .icon {
            margin-top: 2em;
        }
    }
    .carousel {
        margin-top: 8em;
        .image-wp {
            background: no-repeat center center;
            background-size: cover;
            &:before {
                width: 100%;
                height: 0;
                padding-bottom: 150%;
                display: block;
                content: '';
            }
        }
    }
    @media screen and (max-width: 767px){
        padding: 2em 0;
        .section-title {
            text-align: center;
            &::after {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .carousel {
            margin-top: 2em;
            .image-wp {
                margin: 10px 0;
            }
        }
    }
}
.feed {
    padding:  7em 0;
    .feed-post {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 25px;
        a {
            text-decoration: none;
        }
        &--logo {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 10px;
            top: 20px;
            background: url('../images/ico-facebook-color.svg') no-repeat center center;
            background-size: cover;
        }
        &--card-title {
            margin: 10px 0;
            display: flex;
            > a {
                width: 50px;
            }
        }
        &--avatar {
            padding: 7px;
            border: 1px solid #ddd;
            border-radius: 7px;
            background: #fff;
            span {
                width: 100%;
                height: 0;
                padding-bottom: 100%;
                display: block;
                background: no-repeat center center;
                background-size: cover;
            }
        }
        &--meta {
            padding-left: 15px;   
        }
        &--page-name {
            font-size: 85%;
            font-weight: 800;
            color: #555;
        }
        &--date {
            display: block;
            color: #aaa;
            font-size: 75%;
            line-height: 100%;
        }
        &--thumb {
            width: 100%;
            height: 0;
            padding-bottom: 40%;
            background: no-repeat center center;
            background-size: cover;
            border: 1px solid #ddd;
        }
        &--content {
            width: 100%;
            height: 6em;
            overflow: hidden;
            font-size: 75%;
            color: #555;
            margin: 10px 0 30px;
            text-align: left;
        }
    }
    @media screen and (max-width: 767px){
        padding: 2em 0;
    }
}
.location {
    color: $secondary-color;
    background: $primary-color;
    .directory-wp {
        padding: 7em 5em 7em 10%;
        &:before {
            width: 200px;
            height: 7px;
            margin-bottom: 1em;
            display: block;
            content: '';
            background: $secondary-color;
        }
        .headline {
            color: #fff;
            font-size: 1.5em;
            font-style: italic;
        }
        .links {
            color: #fff;
            font-style: italic;
            .maps-link {
                margin-left: 10px;
                img {
                    max-height: 1.5em;
                }
                
            }
        }
        .directory-intro {
            margin-top: 2em; 
            margin-bottom: 2em; 
            .font-2x {
                font-style: italic;
                font-size: 1.25em;
            }
        }
    }
    .map-wp {
        position: relative;
        min-height: 30em;
        background: #fff;
        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    @media screen and (max-width: 767px){
        .directory-wp {
            padding-top: 4em;
            padding-bottom: 4em;
        }
    }
}
.contacto {
    padding: 10em 0;
    .form-group {
        margin-bottom: 1em;
        position: relative;
        label {
            position: absolute;
            left: 1em;
            top: 0.25em;
            color: #fff;
            font-size: 0.8em;
            font-style: italic;
            transition: .2s all linear;
        }
        .form-control {
            padding: 0.75em 1em;
            background: $secondary-color;
            border: none;
            color: #fff;
            border-radius: 0;
            transition: .2s all linear;
            &:focus {
                outline: none;
                box-shadow: none;                
            }
        }
        &.active {
            label {
                font-size: 0.7em;
            }
            .form-control {
                padding: 1em 1em 0.5em;
            }
        }
    }
    small {
        font-style: italic;
    }
    .actions {
        padding: 3em 0;
        text-align: center;
        .btn {
            margin-top: 1em;
        }
    }
    .social {
        text-align: center;
        a {
            width: 40px;
            height: 40px;
            //margin: 0 3em;
            display: inline-block;
        }
    }
    @media screen and (max-width: 767px){
        padding: 2em 0 ;
        .actions {
            .g-recaptcha {
                display: inline-block;
            }
        }
    }
    @media screen and (min-width: $desktop-breakpoint){
        .legends,
        .actions {
            .col-md-6:last-child {
                text-align: right;
            }
        }
    }
}
.modal-video {
    .iframe-video {
        width: 100%;
        height: 0;
        padding-bottom: 55%;
        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
.fixed-button {
    width: 4rem;
    height: 4rem;
    padding: 1rem 0;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    text-decoration: none !important;
    z-index: 11;
    transition: .3s all linear;
    &:hover {
        transform: scale(1.1,1.1);   
    }
    img {
        height: 2rem;
    }
    &--whatsapp {
        background-color: #25d366;
    }
}