/*
* Main app file
* Run with: npm run watch (root directory)
*/


/**
*  Global variables
**/

$mobile-breakpoint: 1023px;
$desktop-min-breakpoint: 1024px;
$flex-reset: 0 1 auto;

$default-color: #212325;
$primary-color: #006466;
$secondary-color: #B69F66;
$bg-primary-color: #001854;

$color-action: #004030;
$color-available: #55fb4e;
$color-sold: #f71b16;
$color-reserved: #f5c929;
$color-unavailable: #353535;

/**
*  Required files
**/

@import './fonts';
@import './layout';
@import './components';
@import './animate.css';

